<h1 style="background-color:rgb(220, 75, 60);padding:10px 10px;border-radius:5px 25px 25px 5px;width:550px">Linear Regression

<div style = "color: Black; display: fill;
              border-radius: 7px;
              background-color: #607EAA;
              font-size: 160%;
              font-family: Verdana, align = center">
    <p style = "padding: 15px; color: White;"><b>Linear Regression with one variable

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df =pd.read_csv('advertising.csv')
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [5]:
df_1 = df[['TV','Sales']]

In [6]:
df_1

        TV  Sales
0    230.1   22.1
1     44.5   10.4
2     17.2   12.0
3    151.5   16.5
4    180.8   17.9
..     ...    ...
195   38.2    7.6
196   94.2   14.0
197  177.0   14.8
198  283.6   25.5
199  232.1   18.4

[200 rows x 2 columns]

<h4 style="background-color:rgb(244,164,96);padding:8px 10px;border-radius:5px 25px 25px 5px;width:250px">Using Sklearn

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train,x_test,y_train,y_test = train_test_split(df['TV'],df['Sales'],test_size=0.25,random_state=50)

In [9]:
x_train.shape,x_test.shape

((150,), (50,))

In [10]:
from sklearn.linear_model import LinearRegression

In [15]:
model_1 = LinearRegression()
model_1.fit(np.array(x_train).reshape(-1,1),y_train)

LinearRegression()

In [18]:
predicted = model_1.predict(np.array(x_test).reshape(-1,1))

In [19]:
from sklearn.metrics import r2_score
r2 = r2_score(np.array(y_test), predicted)

In [20]:
r2

0.7672984654541095

**Model is substential**

<h4 style="background-color:rgb(244,164,96);padding:8px 10px;border-radius:5px 25px 25px 5px;width:250px">Using Stats Model

In [21]:
import statsmodels.api as sm

In [22]:
x_train_sm = sm.add_constant(x_train) #adding constant to get an intercept
x_train_sm

     const     TV
1      1.0   44.5
116    1.0  139.2
100    1.0  222.4
166    1.0   17.9
168    1.0  215.4
..     ...    ...
132    1.0    8.4
33     1.0  265.6
109    1.0  255.4
139    1.0  184.9
176    1.0  248.4

[150 rows x 2 columns]

In [24]:
lr = sm.OLS(y_train, x_train_sm).fit()

In [27]:
print(lr.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.819
Model:                            OLS   Adj. R-squared:                  0.818
Method:                 Least Squares   F-statistic:                     670.5
Date:                Thu, 25 Aug 2022   Prob (F-statistic):           7.87e-57
Time:                        21:11:28   Log-Likelihood:                -340.54
No. Observations:                 150   AIC:                             685.1
Df Residuals:                     148   BIC:                             691.1
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          6.8704      0.380     18.065      0.000       6.119       7.622
TV             0.0569      0.002     25.893      0.000       0.053       0.061
==============================================================================
Omnibus:                        0.329   Durbin-Watson:                   1.795
Prob(Omnibus):                  0.848   Jarque-Bera (JB):                0.239
Skew:                          -0.098   Prob(JB):                        0.887
Kurtosis:                       2.996   Cond. No.                         342.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.